.container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'sidebar .'
    'sidebar main';
}
.sidebar:hover {
  transition: width 0.5s ease-in;
  width: 0;
}
.sidebar {
  transition: width 0.5s ease-out;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  border-right: solid 3px #009867;
  background-color: #f8f8f8;
  align-items: flex-end;
}
.main {
  grid-area: main;
  overflow-y: scroll;
  border-collapse: collapse;
}
.title {
  height: fit-content;
  font-size: 2.1em;
  padding: 30px 40% 0 0;
}
