.container {
height: 100px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
overflow-x: hidden;
}
.list-container {
display: grid;
grid-template-columns: auto auto auto;
gap: 40px;
font-size: larger;
justify-items: end;
margin-right: 30px;
}
.logo {
  margin-left: 20px;
  width: 121px;
  height: 84px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.icon img:hover {
  transform: translateY(-2px);
}
.logo,.icon img{
transition: all 150ms ease-in-out;
}
.user {
  display: grid;
  place-items: center;
  width: 85px;
  height: 100px;
  isolation: isolate;
}
.user a {
  z-index: 1;
  width: 40px;
  height: 40px;
}
.user > *,
.search > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
#1,
#2,
#3 {
  width: 85px;
  height: 100px;
  background-color: #009867;
  border-radius: 500px 0 0 500px;
}
#2 {
  margin-left: -15px;
  opacity: 0.5;
}
#3 {
  margin-left: -30px;
  opacity: 0.2;
}
.logo:hover {
  transform: scale(1.1);
}
.icon {
  margin-right: 35px;
}
