.container {
  height: auto;
}
.header {
  font-size: 32px;
  height: 60px;
}
.data-wrapper {
  overflow-x: scroll;
  align-items: center;
  display: flex;
  gap: 30px;
  padding: 0 30px;
  flex-direction: row;
  max-width: 100%;
  height: 400px;
  background-color: #009867;
}
/* FIXME: BUG ON LAPTOP CATEGORY, CHOICE IS TO EITHER LEAVE IT WITH WHITE BACKGROUND OR ? */
.container:nth-child(even) .ant-card {
  background-color: #373737;
}
.container:nth-child(even) .ant-card-meta > div > div:not(:last-child){
  color: ghostwhite;
}
.container:nth-child(even) .ant-card-meta > div > div:last-child{
    color: rgba(255, 255, 255, 0.65);

}
